
<h1>[Youku]↓↓[<%= title %>]↓↓</h1>
<div class="video_embed" style="text-align:center;">
    <embed class="video_youku" width="960" height="560" src="http://player.youku.com/player.php/sid/<%= code %>/v.swf" allowFullScreen="true" quality="high" allowScriptAccess="always" type="application/x-shockwave-flash">
    </embed>
</div>


