<h1>Images#new</h1>

<p>Not Implemented.</p>

<p>Find me in app/views/images/new.html.erb</p>


<iframe src="http://www.google.com" width="1400px" height="2000px">
</iframe>

<iframe src="http://surfacepro3ssdupgrade.blogspot.com/2015/02/surface-pro-3-ssd-upgrade-i7-with-1-tb.html?m=0" width="1400px" height="2000px"></iframe>


